.tabcontent {display: none;
    height: 100%;
  }
#month tbody td{
  height: 140px;
  border: 1px solid black;
}
tbody td:hover{
  background-color: rgba(67, 71, 71, 0.07);
}
tbody td,th{
  text-align: center;
}
.bg-con {
  position: relative;
}
#day tbody td{
  width: 90%;
}
.bg-div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: #3833332f;
  width: 100%;
  height: 100%;
  font-size:5rem;
  font-family: 'Bowlby One SC', cursive;
}